<!DOCTYPE html>
<html lang="es" class="ooaa">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css" media="(min-width:600px)">
    <title>Document</title>
</head>
<body class="hello">
    <nav div class="menuNavegacion">
        <div class="menuPrincipal">
            <div class="imagen">
                <img class="logoProyecto" src="logo.png" alt="drawing of a cat" >
            </div>
            <div class="contenedor-menu-navegacion"> 
                <ul class="menu-navegacion">
                <li class="itemsMenuNavegacion">
                    <a href="#">Inicio</a>
                </li>
                <li class="itemsMenuNavegacion">
                    <a href="#">Crear</a>
                </li>
                <li class="itemsMenuNavegacion">
                    <a href="#">Unirse</a>
                </li>
                <li class="itemsMenuNavegacion">
                    <a href="#">Sobre Nosotros</a>
                </li>
                </ul>
            </div>
             
        </div>
    </nav>
</body>
</html>